* {
			box-sizing: border-box;
			font-family: Arial, sans-serif;
		}
        .row:after {
			content: "";
			display: table;
			clear: both;
		}
		.column {
			float: left;
			width: 33.33%;
			padding: 10px;
			box-sizing: border-box;
		}
		.row {
			display: flex;
			flex-wrap: wrap;
			max-width: 1200px;
			margin: 0 auto;
			padding: 20px;
		}
        body {
			margin: 0;
			
		}
		
		header {
			background-color: lightcoral;
			color: white;
			padding: 20px;
			text-align: center;
            
		}
		
		h1 {
			margin: 0;
            padding: 0;
		}
		
		.column {
			flex: 1;
			padding: 0 10px;
			text-align: justify;
		}
		
		img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 20px auto;
		}
		nav {
			background-color: darkorange;
			overflow: hidden;
		}
		nav a {
			float: left;
			color: black;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 15px;
			font-family: 'Courier New', Courier, monospace;
		}
		nav a:hover {
			background-color: rgb(35, 124, 120);
			color: black;
			font-size: 100px;
			height: 75%;
			font-size: 160%;
			transition: height 0.5s, font-size 0.5s;
		}
		nav a:first-child {
			text-align: center;
		}